apiVersion: v1
kind: Service
metadata:
  name: notes-api
  namespace: notes-app
  labels:
    app: notes-api
spec:
  type: NodePort
  selector:
    app: notes-api
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
    protocol: TCP
    name: http
