apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: notes-api
  namespace: argocd
  annotations:
    # tells image updater which image to track
    argocd-image-updater.argoproj.io/image-list: notes-app=akar3f/notes-app
    # always upgrade to latest
    argocd-image-updater.argoproj.io/notes-app.update-strategy: latest
spec:
  project: default

  source:
    repoURL: https://github.com/ramoscariel/notes-pipeline.git
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: notes-app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
